body {
  background-color: #0090b1;
}

.App {
  background-color: white;
  width: 400px;
  margin: 20px auto;
  min-height: 80vh;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: #d3e5fb;
}

ul, li {
  list-style-type: none;
  font-family: 'Jura', sans-serif;
}

h1 {
  font-family: 'Jura', sans-serif;
  text-align: center ;
  margin-top: 0;
}



input {
  font-family: 'Jura', sans-serif;
  width: 350px;
  padding: 5px;
  margin: 20px;
  border: #0090b1 1px solid;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnOne, .btnTwo {
  width: 200px;
  padding: 5px;
  font-family: 'Jura', sans-serif;
  border: none;
  color: white;
  font-size: 16px;
}

.btnOne {
  background-color: #df7e1f;
}

.btnTwo {
  background-color: #d44853;
}

.women {
  margin-left: 100px;
}